body {
    padding-top: 88px;
    /*background: url('../img/hire.png') fixed no-repeat center;*/
    background-size: cover;
}

.navbar-header {
    height: 64px;
}

.navbar-toggle {
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-nav > li > a {
    line-height: 44px;
}

.btn {
    white-space: normal;
}

.list-alpha-upper {
    list-style-type: upper-alpha;
}

.list-alpha-lower {
    list-style-type: upper-alpha;
}

.list-roman-upper {
    list-style-type: lower-roman;
}

.list-roman-lower {
    list-style-type: lower-roman;
}

.text-italic {
    font-style: italic;
}