<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">

          <div class="acquire-box">
              <div class="acquire-header">
                <h3>What documents do I need to find out if I can expunge my criminal records?</h3>
                <h4 class="needs">You Will need <span class="numCircle">2</span> Things: </h4>
              </div>
                <div class="police-record ">
                  <h4>Police Record</h4>
                </div>

                <div class="court-record">
                  <h4>Court Record</h4>
                </div>

                <div class="police-content">
                  <h3>1</h3>
                  <span class="text-bold">Where to Go:</span>
                  300 Indiana Avenue, NW Monday - Friday, 9:00AM - 5:00PM Criminal History Section, Room 1075 (1st floor)
                  <span class="acquire-alert">Main entrance is on the second floor.</span>
                  <h3>2</h3>
                  <span class="text-bold">What to Bring:</span>
                  A valid ID(Such as a Driver's License) $7.00 in cash or money order payable to DC Treasurer. Your Social Security Number.
                  <h3>3</h3>
                  <span class="text-bold">What to Ask:</span>
                  For a Criminal History Request Form because you want to seal your records.
                  <span class="acquire-alert">Make sure to say that you are asking for the Criminal History Request Form because you are seeking to seal your criminal records.</span>
                </div>

                <div class= "court-content">
                  <h3>1</h3>
                  <span class="text-bold">Where to Go:</span>
                  500 Indiana Avenue, NW Criminal Records Division, Room 4001 (4th floor) Monday - Friday 8:30AM - 5:30PM.
                  <h3>2</h3>
                  <span class="text-bold">What to Bring:</span>
                  Give your name and birth date to the clerk.
                  <h3>3</h3>
                  <span class="text-bold">What to Ask:</span>
                  For a print out of your entire criminal record.
                  <span class="acquire-alert">They didn't find any criminal records, but I know I've been arrested! What should I do? Ask the clerk to check the arrest record database and print out what they find there.</span>
                </div>

              </div> <!--END acquire-box-->

            </div> <!--END panel-body -->
          </div> <!-- END planel-default -->


            <!-- <h1>If you would like a tutorial on how to search online for your cases, watch this video below:</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="//www.youtube.com/embed/MY8yf3yPa5M"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div> -->

        <div class="panel-footer">
            <a class="btn btn-primary btn-block" href="https://www.dccourts.gov/cco/maincase.jsf" target="_blank">
                Search for your Criminal Record Online
            </a>
            <a class="btn btn-primary btn-block" ui-sref="acquire-in-person">
                How to get criminal record in person
            </a>
            <a class="btn btn-primary btn-block" ui-sref="eligibility({questionId: '0'})">
                Ok, I acquired my criminal record. Let's Get Started
            </a>
        </div>
    </div>
