<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>If you would like a tutorial on how to search online for your cases, watch this video below:</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MY8yf3yPa5M" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="panel-footer">
      <a class="btn btn-primary btn-block" href="https://www.dccourts.gov/cco/maincase.jsf" target="_blank">
        Search for your Criminal Record Online
      </a>
      <a class="btn btn-primary btn-block" ui-sref="acquire-in-person">
        How to get criminal record in person
      </a>
      <a class="btn btn-primary btn-block" ui-sref="eligibility({questionId: '0'})">
        Ok, I acquired my criminal record. Let's Get Started
      </a>
    </div>
  </div>
</div>