  <div>

    <h1>How do I obtain a copy of my COMPLETE DC Criminal Record?</h1>

    <p>
      <i>If you have already acquired your COMPLETE criminal record in front of you, click <a href="/#/legal-aid">here</a>. Your complete criminal record consist of the Form PD 70 provided by the Police Department and your court record provided by the Superior Court.
      </i>
    </p>

    <h3>Step 1</h3>
    <p>Obtain a copy of your police record at Metropolitan Police Department (MPD)</p>

    <ul>
      <li>
        a. Be prepared to bring with you to MPD the following items:
        <ol>
          <li>a copy of a valid ID (such as a driver&rsquo;s license)</li>
          <li>$7.00 cash or money order to pay for the record AND</li>
          <li>a copy of your social security number</li>
        </ol>
      </li>
      <li>
        b.   Go to:  Metropolitan Police Department (MPD) Record Information Desk
        300 Indiana Avenue, NW, 1st Floor, Criminal History Section, Room 1075
        Monday – Friday, 9:00 a.m. – 5:00 p.m.
      </li>
      <li>
        c.   Stop at the desk and show valid identification to receive a payment slip
      </li>
      <li>
        d.   Take the payment slip to room 1140B on the 1st Floor to pay the $7 charge and 
          obtain a receipt for proof of payment.
      </li>
      <li>
        e.   Go back to the desk on the 1st Floor and show paid receipt and copy of your
          ID to receive a Criminal History Request Form.
      </li>
      <li>
    		f.    Complete the Criminal History Request Form in all of the spaces marked with a  dot, as instructed.
      </li>
      <li>
        g.	Go to the service window down the hallway.  The clerk will check the identification and take the receipt and Criminal History Request form.
      </li>
      <li>
        h.   Have a seat until you are called when the police clearance is ready. The clerk 
          will give you a copy of the Police Record (Form PD 70).
          <b>HOLD ONTO  THIS FORM. You will file a copy of it as Exhibit A when you file your Motion to Seal.</b>
      </li>
    </ul>

    <h3>Step 2</h3>
    <p>
      Obtain a copy of your court record from the Superior Court of the District of Columbia
    </p>
    <p>
      Go to the: <br />
      Criminal Records Division<br />
      D.C. Superior Court, Room 4001 (on the 4th floor)<br />
      500 Indiana Avenue, N.W. <br />
      (202) 879-11451<br />
      Monday through Friday, 8:30am to 5:30pm
    </p>
    <p>
    To obtain the information needed to complete the Motion to Seal Records, give your name and birth date to the Clerk and request your entire Superior Court criminal record OR enter your name into the Court View software on the computers in Room 4001 and search for your records.
    </p>
        
  </div>