<b>Actual Innocence</b> - In the context of sealing records in the District of Columbia under D.C. Code § 16-802, this refers to one of two situations: (1) when the offense for which the person was arrested or charged did not occur; and/or (2) when the person did not commit the offense for which she was arrested or charged.  Assuming that she/he was never convicted for that charge, she/he can attempt to seal her/his arrest and charge records anytime without any waiting period.  If she/he was convicted, she/he cannot use actual innocence to seal records related to her/his conviction.  
<br>
<b>Acquitted/b> - a person was found “not guilty” for the crime which he was charged.  It is the legal and formal certification of the innocence of a person who has been charged with a crime.  For example:  Mr. Smith was arrested and charged for theft.  However, Mr. Smith was found “not guilty” and acquitted of his theft charge.
Arrested - to take or hold a suspected criminal with legal authority, as by a law enforcement officer. An arrest may be made legally based on a warrant issued by a court after receiving a sworn statement of probable cause to believe there has been a crime committed by this person, for an apparent crime committed in the presence of the arresting officer, or upon probable cause to believe a crime has been committed by that person. Once the arrest has been made, the officer must give the arrestee his/her rights ("Miranda rights") at the first practical moment, and either cite the person to appear in court or bring him/her in to jail.
<br>
<b>Case Number </b>– This is the identification number that the court assigns to each and every case that it handles.  In the context of sealing criminal records, this number is always necessary for sealing.  In rare instances where the court does not have a court case number for your arrest or charge, you should request the court to assign you a case number.
<br>
<b>Case Pending</b>– This refers to any case that is pending or has not been fully resolved.  For example, if a case does not have a case disposition, it is likely a case pending.
<br>
<b>Community Defender Division</b> - provides services to adults and children, primarily those who are in the post-adjudication stage of a criminal or juvenile delinquency case in the District of Columbia Superior Court. For adult clients, CDD responds to the legal and social services needs of newly released individuals and others with criminal records, assisting them in making a successful transition back into the community. Community Defender Division Contact Information:
680 Rhode Island Avenue, NE
Suite H-5
Washington, DC 20002
Phone: (202) 824-2801 
Fax: (202) 824-2819
<br>
<b>Completion of the sentence</b>- the person has been unconditionally discharged from incarceration, commitment, probation, parole, or supervised release, whichever is latest.
<br>
<b>Convicted/ Conviction</b>-  It refers to the judgment (sentence) on a verdict or a finding of guilty, a plea of guilty or a plea of nolo contendere, or a plea or verdict of not guilty by reason of insanity.
<br>
<br>Court" or Superior Court</b>– refers to the Superior Court of the District of Columbia.
<br>
<b>Deferred sentencing agreement</b>- voluntary agreement between the government and a defendant, the defendant agrees to waive his/her right to a trial and to plead guilty to the charged offense.  However, instead of proceeding directly to sentencing, the government provides the defendant with an agreed upon period of time to complete an agreed upon set of conditions.  If the defendant completes these conditions successfully, the court allows him/her to withdraw the guilty plea, and the government will dismiss (nolle prosequi) the charges.  This means that the defendant does not end up with a conviction on his/her record.  If, however, the defendant fails to abide by his/her end of the agreement, the court will enter the guilty plea into the record and sentence him/her accordingly. 
<br>
<b>Disqualifying arrest or conviction</b> means:
(A) A conviction in any jurisdiction after the arrest or conviction for which the motion to seal has been filed;
(B) A pending criminal case in any jurisdiction;
(C) A conviction in the District of Columbia for an ineligible felony or ineligible misdemeanor or a conviction in any jurisdiction for an offense that involved conduct that would constitute an ineligible felony or ineligible misdemeanor if committed in the District of Columbia or prosecuted under the District of Columbia Official Code, or conduct that is substantially similar to that of an ineligible felony or ineligible misdemeanor.
<br>
Eligible felony - In the context of criminal record sealing under D.C. Code, the only eligible felony is Felony BRA or Failure to Appear.
Eligible misdemeanor - In the context of criminal record sealing under D.C. Code, it is any misdemeanor that is not on the ineligible misdemeanor list. ( see ineligible misdemeanors)
Ineligible Felony – every felony except Felony BRA or Failure to Appear 
Fugitive from Justice– It refers to a situation where a person has a warrant from another jurisdiction.  If that person is arrested in D.C. because of a warrant from another jurisdiction, that person may be eligible to file a § 16-803.01 Motion to seal a fugitive arrest after they appear before the proper authority in the demanding jurisdiction.
Incorrect ID
Ineligible felony - Every felony offense except an eligible felony (Felony BRA or failure to appear),  ineligible felony convictions cannot be sealed
Ineligible misdemeanor – See ineligible misdemeanor list
Jurisdiction 
Marijuana related offense 
Minor Offense - a traffic offense, disorderly conduct, or an offense that is punishable by a fine only, excluding any ineligible misdemeanor.
Misdemeanor - 
MPD or Metropolitan Police Department – This is the local law enforcement agency in Washington, D.C.  If you are arrested in the District of Columbia, it is likely that it was a police officer, or someone, from the MPD. If you plan to seal your D.C. criminal records, you should get a copy of your full records from the MPD.
No papered - This means that the United States Attorney’s Office of the District of Columbia or the Office of the Attorney General for the District of Columbia has decided NOT to proceed with prosecution against you for the incident that led to your arrest.
Non-Conviction- This refers to any arrest or charges that did not result in a conviction.  See Conviction.  Amongst others, this can refer to finding of not guilty, no papered, and dismissed.
Not guilty – See Acquitted 
Off papers/papered – When a person has been unconditionally discharged from incarceration, commitment, probation, parole or supervised release – whichever is the latest.
Papered - This means that the United States Attorney’s Office of the District of Columbia or the Office of the Attorney General for the District of Columbia has decided to proceed with prosecution against you for the incident that led to your arrest.
PDID (Police Department ID Number) – Identification number used by the Metropolitan Police Department to identify individuals whom they arrest.  Regardless of the number of arrest incidents, an individual should only have one PDID. 
Pending Criminal Case - 
Perjury - A crime that occurs when an individual willfully makes a false statement during a judicial proceeding, after he or she has taken an oath to speak the truth.
Proper authority – In the context of trying to seal a Fugitive from Justice offense, it means the original authority that issued the warrant for your arrest. 
Public Defender Service of DC - The Public Defender Service for the District of Columbia (PDS) provides and promotes quality legal representation to indigent adults and children facing a loss of liberty in the District of Columbia and thereby protects society's interest in the fair administration of justice. The Community Defender Division is a subdivision of the Public Defender Service of DC. 
Public Record - In the context of sealing under D.C. Code § 16-801, these are records that are available to the public.  "Public" means any person, agency, organization, or entity other than: (A) Any court; (B) Any federal, state, or local prosecutor;  (C) Any law enforcement agency;  (D) Any licensing agency with respect to an offense that may disqualify a person from obtaining that license; (E) Any licensed school, day care center, before or after school facility or other educational or child protection agency or facility; (F) Any government employer or nominating or tenure commission with respect to: (i) Employment of a judicial or quasi-judicial officer; or (ii) Employment at a senior-level, executive-grade government position. 
Swear under oath - to declare under oath that one will tell the truth. Failure to tell the truth, and do so knowingly, is the crime of perjury.
<br>
<b>Waiting Period</b> - In the context of sealing, this is the amount of time that a person must wait until he is eligible to seal his criminal record(s).  Please note that some criminal record sealing do not have a waiting period because either (i) it is not eligible for sealing; or (ii) it does not require a waiting period. 
<br>
<b>Warrant</b> - a document issued by a legal or government official authorizing the police or some other body to make an arrest, search premises, or carry out some other action relating to the administration of justice.
Youth Rehabilitation Act – Applies only when the individual was under the age of 22 when sentenced by the Court.  Consult an attorney for these offenses.



