<!-- Header -->
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-primary" type="button" ng-click="goBackOneQuestion()">Go back one question</button>
        <button class="btn btn-primary" type="button" ng-click="restart()">Restart</button>
        <h1>Eligibility Checker</h1>

        <div class="progress">
            <div class="progress-bar" ng-style="progressBarStyle()">
                <span>{{ progressBar() }}% Complete</span>
            </div>
        </div>
    </div>
</div>

<!-- Questions -->
<div class="row" ng-if="!eligibilityKnown">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>{{ currentState.questionText }}</p>

                <div ng-if="current.showIneligibleMisdemeanors">
                    <h3>Ineligible Felony</h3>

                    <p>
                        "Ineligible felony" means any felony other than a failure to appear
                        (&sect; 16-1327) [<a href="http://dccode.org/simple/sections/23-1327.html">&sect; 23‑1327</a>].
                    </p>

                    <ul>
                        <h3>Ineligible Misdemeanors</h3>

                        <form class="form-inline">
                            <div class="form-group">
                                <input class="form-control" type="text" ng-model="term">
                            </div>
                        </form>
                        <div class="row">
                            <li ng-repeat="misdemeanor in ineligibleMisdemeanors | filter: term">
                                {{ misdemeanor.offense }}
                                <a href ng-click="isCollapsed = !isCollapsed" ng-show="misdemeanor.legal_description">+</a><br>
                                <span ng-show="isCollapsed">
                                    <p>{{ misdemeanor.legal_description }}</p>
                                </span>
                            </li>
                        </div>
                    </ul>
                </div>
                <div ng-if="currentState.helperText.length">
                    <h1><span class="glyphicon glyphicon glyphicon-info-sign"></span></h1>

                    <div ng-repeat="text in currentState.helperText track by $index">
                        <p>{{ text }}</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary btn-block"
                        ui-sref="eligibility({questionId: answer.next})"
                        ng-click="submitAnswer($index)"
                        ng-repeat="answer in currentState.answers">{{ answer.answerText }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Eligible -->
<div class="row" ng-if="eligibilityKnown">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1 ng-show="currentState.icon">
                    <span ng-class="currentState.icon"></span>
                </h1>
                <h2>{{ currentState.eligibilityText }}</h2>
                <div ng-show="currentState.helperText.length">
                    <h1>
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </h1>
                    <p>{{ currentState.helperText }}</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Your responses:</h4>
                <button class="btn btn-primary" type="button" onclick="window.print()">
                    <span class="glyphicon glyphicon-print"></span> Print
                </button>
            </div>
            <div class="panel-body">
                <div ng-repeat="record in EligibilityService.userInput">
                    <h4>{{ record.question }}</h4>

                    <p>
                        <span class="glyphicon glyphicon-menu-right"></span>
                        <strong>{{ record.answer }}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>