<div class="row">
    <div class="col-md-12">
      
      <div class="page-header">
      	<h1>Congratulations!<br> You may be eligible to have your criminal record sealed.</h1>
  	  </div>
      
      <h2>Next step: Get a copy of your criminal record</h2>

      <p>If you were arrested in DC, obtain a copy of your criminal record online from DC Court. For a certified copy of your criminal history, go to:</p>

		<address>
		  <strong>Metropolitan Police Headquarters</strong><br>
	  		Henry J. Daly Building <br>
			<a href="https://www.google.com/maps/place/300+Indiana+Ave+NW,+Washington,+DC+20001/@38.8942555,-77.0188254,18z/data=!4m7!1m4!3m3!1s0x89b7b78f7e315f3f:0x893fb6b3dd251c0a!2s300+Indiana+Ave+NW,+Washington,+DC+20001!3b1!3m1!1s0x89b7b78f7e315f3f:0x893fb6b3dd251c0a">300 Indiana Avenue, NW</a><br>
			Washington, DC 20001 <br>
		  <abbr title="Phone">P:</abbr> (202) 727-4218
		</address>

		<h4>By Transit:</h4>
		<ul>
			<li>Red Line: 2 minute walk from Judicary Square</li>
			<li>Green Line: 8 minute walk from Archives Metro Station</li>
		</ul>

		<hr>

		<h4>Were you arrested outside the District of Columbia?</h4>
		<p>You'll need to do such and such. Lorem ipsum.</p>

		<hr>

		<h4>Need help?</h4>
		<p>Legal aid?</p>


    </div><!-- /.col-md-12 -->
</div><!-- /.row -->