<div class="row" after-render="readClearly">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- Header -->
            <div class="panel-heading">
                <h4 class="panel-title centered-title">Eligibility Checker</h4>
                <div class="button-group panel-button-group">
                    <button class="btn btn-primary btn-sm" type="button" ng-click="previousQuestion()">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        <span class="hidden-xs">Previous question</span>
                    </button>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="restart()">
                        <i class="glyphicon glyphicon-refresh"></i> <span class="hidden-xs">Restart</span>
                    </button>
                </div>
            </div>

            <!-- Content -->
            <div class="panel-body openadvocate-content">
                <!-- Progress bar -->
                <div class="progress">
                    <div class="progress-bar" ng-style="progressBarStyle()">
                        <span>{{ progressBar() }}% Complete</span>
                    </div>
                </div>

                <!-- Initial state -->
                <div ng-if="!eligibilityKnown">
                    <h4>{{ currentState.questionText }}</h4>

                    <!-- TODO: Figure out where this is being implemented. -->
                    <div ng-if="currentState.showIneligibleMisdemeanors">
                        <h5 class="text-bold">Ineligible Felony</h5>
                        <p>
                            "Ineligible felony" means any felony that is not a charge for Failure to not Appear (FTA)
                            (&sect; 16-1327) [<a href="http://dccode.org/simple/sections/23-1327.html" target="_blank">&sect; 23‑1327</a>].
                        </p>

                        <h5 class="text-bold">Ineligible Misdemeanors</h5>
                        <!-- <input class="form-control" type="text" placeholder="Filter term..." ng-model="term"> -->
                        <!--<table class="table table-condensed">
                            <tr ng-repeat="misdemeanor in ineligibleMisdemeanors | filter: term">
                                <td>{{ misdemeanor.offense }}</td>
                            </tr>
                        </table>-->
                        <ul class="simple-list">
                            <li ng-repeat="misdemeanor in ineligibleMisdemeanors | filter: term">
                                {{ misdemeanor.offense }}
                                <a href ng-click="isCollapsed = !isCollapsed" ng-show="misdemeanor.legal_description">+</a><br>
                                <span ng-show="isCollapsed">
                                    <p>{{ misdemeanor.legal_description }}</p>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="alert alert-info"
                        ng-if="currentState.helperText.length"
                        ng-repeat="text in currentState.helperText track by $index">
                        <i class="glyphicon glyphicon glyphicon-info-sign"></i> {{ text }}
                    </div>
                    
                    
                </div>

              
                
                <!-- Unlocked state -->
                <div ng-if="eligibilityKnown">
                    <div class="alert" ng-class="getLevelClass()">
                        <i ng-class="currentState.icon" ng-show="currentState.icon"></i>
                        {{ currentState.eligibilityText }}
                    </div>
                    <div class="alert alert-info"  >
                        <i class="glyphicon glyphicon-info-sign"></i> 
                        {{ currentState.helperText }}
                    </div>
                    
                    <div ng-if="currentState.showBanTheBox">
                    
                        <div class="alert alert-info" ng-show="true">
                            <i class="glyphicon glyphicon-info-sign"></i> 
                            <p>
                                   Even though you are not eligible for sealing your criminal record, In 2014 The District of Columbia passed a law that prohibits employers 
                            (with 11 or more employees) from having a criminal background questions on a job application form, and ALSO prohibits an employer from 
                            asking about criminal convictions, arrests or accusations until after a conditional offer of employment has been made. We encourage you 
                            to learn more about how to submite a complaint about violations of the law to the DC Office of Human Rights (OHR) at 
                            <a href='http://ohr.dc.gov/page/returningcitizens' target='_blank'>here</a> . 
                            Compensation may be available to you if it is found that an employer you applied for a job with asked about your criminal history before 
                            making a condition offer of employment OR if they have a question on their employment application that asks if you have every committed a 
                            crime or been arrested. 
                            </p>
                         
                            
                            
                        </div>
                    </div>
                    
                    
                    <div ng-if="currentState.showAttorneyInfo">
                        <div class="alert alert-info" ng-show="true">
                     CONNECT WITH AN LAWYER ABOUT GETTING YOUR RECORD (FOR FREE).<br />
        You can email Lora Silberman at lsilberman@dclawstudents.org.<br /> 
        Make sure to provide your full name, date of birth and all states you have been arrested in.<br />
        Additionally, if you want are able to, please include your cell phone number!<br /> </div>
                    </div>
                    
                </div>
            </div>
            
            <!-- Response options -->
            <div class="panel-footer">
                <div ng-switch on="stateName == 50">
                    <div ng-switch-when="true">
                        <div class="panel-group" id="accordionEligibility" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat="answer in currentState.answers">
                                <div class="panel-heading btn btn-primary btn-block" role="tab" id="{{answer.labelledby}}">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionEligibility" href="#{{answer.controls}}" aria-expanded="false" aria-controls="{{answer.controls}}" onclick="return false;">
                                            {{answer.shortAnswerText}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{answer.controls}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{answer.labelledby}}">
                                    <div class="panel-body">
                                        <a ui-sref="eligibility({questionId: answer.next})" ng-click="submitAnswer($index)">
                                            {{answer.answerText}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-group-vertical" ng-switch-when="false">
                        <button class="btn btn-primary btn-block"
                            ui-sref="eligibility({questionId: answer.next})"
                            ng-click="submitAnswer($index)"
                            ng-repeat="answer in currentState.answers">{{ answer.answerText }}</button>
                    </div>
                </div>

            <!-- <div class="panel-footer" ng-if="currentState.answers.length">
                <div class="button-group-vertical">
                    <button class="btn btn-primary btn-block"
                        ui-sref="eligibility({questionId: answer.next})"
                        ng-click="submitAnswer($index)"
                        ng-repeat="answer in currentState.answers">{{ answer.answerText }}</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Your responses -->
<div class="row" ng-if="eligibilityKnown">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title centered-title">Your Responses</h4>
                <div class="button-group panel-button-group">
                    <button class="btn btn-primary btn-sm" type="button" ng-click="print()">
                        <i class="glyphicon glyphicon-print"></i> <span class="hidden-xs">Print</span>
                    </button>
                    <button class="btn btn-primary btn-sm" type="button" ng-click="email()" disabled>
                        <i class="glyphicon glyphicon-envelope"></i> <span class="hidden-xs">Email</span>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="record in eligibilityService.userInput">
                    <h5>{{ record.question }}</h5>
                    <p><i class="glyphicon glyphicon-menu-right"></i> <em>{{ record.answer }}</em></p>
                </div>
            </div>
        </div>
    </div>
</div>
