<!-- ng-controller = "EligibilityWizardController as eligibilityCtrl" -->

<div class="row">
    <div class="col-md-12">
      
      <h1 class="text-center">Eligibility Checker</h1>
      <hr>
      
      <!-- Questions. This section only shows if the user has not reached an eligibilty state -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{eligibilityCtrl.progressBar()}}%; min-width: 2em;">
          <span>{{eligibilityCtrl.progressBar()}}% Complete</span>
        </div>
      </div>
      <div ng-show="!eligibilityCtrl.eligibilityKnown">
        <div class="text-center panel panel-default">
          <div class="panel-body">
            <p class="question-text">{{eligibilityCtrl.currentQuestion.questionText}}</p>

            <!-- Show ineligible misdemeanors on step 2 & 8-->
            <div ng-show="eligibilityCtrl.currentQuestion.showIneligibleMisdemeanors == true">
                <h3>Ineligible felony</h3>
                <p>
                  "Ineligible felony" means any felony other than a failure to appear 
                  (§ 16-1327) [<a href="http://dccode.org/simple/sections/23-1327.html">§ 23‑1327</a>].
                </p>

                <ul class="misdemeanors_group">
                  <h3>Ineligible misdemeanors</h3>
                  <form class="form-inline">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Search misdemeanors: </label>
                      <input type="type" class="form-control" ng-model="term">
                    </div>
                  </form>
                  <div class="row">
                    <li ng-repeat="misd in eligibilityCtrl.ineligibleMisdemeanors | filter: term" class="misdemeanors">
                      {{ misd.offense }} <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="misd.legal_description">+</a><br />
                      <span ng-show="isCollapsed">
                        <p>{{ misd.legal_description }}</p>
                      </span>
                    </li>
                  </div>
                </ul> 
            </div> <!-- end of list of ineligible misdemeanors -->

            <!-- If there is helper text for the question, show it here (ie explanations of legalese) -->
            <div ng-show="eligibilityCtrl.currentQuestion.helperText.length > 0" ng-repeat="text in eligibilityCtrl.currentQuestion.helperText">
                <hr>
                <h1><span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span></h1>
                <p>{{text}}</p>
            </div> <!-- end of helper text section -->
          </div> <!-- end of question section -->
  
          <div class="panel-footer">
            <!-- Show buttons for all possible answers to this question -->
            <span ng-repeat="answer in eligibilityCtrl.currentQuestion.answers">
              <md-button ng-click="eligibilityCtrl.submitAnswer($index)" ng-href="/#/eligibility-check/q/{{answer.next}}" class="md-raised md-primary md-button md-default-theme">{{answer.answerText}}</md-button>
            </span> <!-- end of answer section -->
          </div>
          </div>
        </div> <!-- end of question section -->
      <!-- This section only shows if the user has reached an eligibilty state -->
      <div ng-show="eligibilityCtrl.eligibilityKnown">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h1>
              <span ng-show="eligibilityCtrl.currentQuestion === 'eligible'"class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
              <span ng-show="eligibilityCtrl.currentQuestion === 'ineligible-at-this-time'"class="glyphicon glyphicon-time" aria-hidden="true"></span>
              <span ng-show="eligibilityCtrl.currentQuestion === 'ineligible'"class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </h1>
            <h2>
              This offense is {{eligibilityCtrl.eligibilityStatus}} for expungement.
            </h2>                      
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-9">
                <h3>Your responses:</h3>
              </div>
              <div class="col-md-3">
                <form>
                  <md-button class="md-raised md-primary md-button md-default-theme pull-right" onClick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</md-button>
                </form>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div ng-repeat="record in eligibilityCtrl.userInput">
                <p>{{record.question}}</p>
                <p><b>{{record.answer}}</b></p>
            </div>
          </div>
        </div>
        <!-- This section shows a history of all of the questions and answers -->
      </div> <!-- end of eligibility section -->

    </div><!-- /.col-md-12 -->
</div><!-- /.row -->