<div class="row">
    <div class="col-md-12">
      
      <h1>Eligibility Checker</h1> 
      
      <div ng-show="step_in_process == 0">
        <p>Do you have a case pending?</p>
        <md-button ng-click="getToStep(1)" class="md-raised md-primary md-button md-default-theme">no</md-button>
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 1">
        <p>Are you sealing a conviction or a non-conviction?</p>
        <md-button ng-click="getToStep(2)" class="md-raised md-primary md-button md-default-theme">non-conviction</md-button>
        <md-button ng-click="getToStep(3)" class="md-raised md-primary md-button md-default-theme">conviction</md-button>        
      </div>

      <div ng-show="step_in_process == 2">
        <p>Is this an eligible misdemeanor/felony or an ineligible misdemeanor/felony?</p>

        <h3>Ineligible felony</h3>
        <p>
          "Ineligible felony" means any felony other than a failure to appear 
          (§ 16-1327) [<a href="http://dccode.org/simple/sections/23-1327.html">§ 23‑1327</a>].
        </p>

        <ul class="misdemeanors_group">
          <h3>Ineligible misdemeanor</h3>
          <form class="form-inline">
            <div class="form-group">
              <label for="exampleInputEmail1">Search misdemeanors: </label>
              <input type="type" class="form-control" ng-model="term">
            </div>
          </form>
          <li ng-repeat="misd in ineligibleMisdemeanors | filter: term" class="misdemeanors">
            {{ misd.offense }} <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="misd.legal_description">+</a><br />
            <span ng-show="isCollapsed">
              <p>{{ misd.legal_description }}</p>
            </span>
          </li>
        </ul>

        <md-button ng-click="getToStep(3)" class="md-raised md-primary md-button md-default-theme">ineligible</md-button>
        <md-button ng-click="eligible()" class="md-raised md-primary md-button md-default-theme">eligible</md-button>        
      </div>

      <div ng-show="step_in_process == 3">
        <p>Have you subsequently been convicted of another crime in any jurisdiction?</p>
        <md-button ng-click="getToStep(4)" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 4">
        <p>Has it been 8 years since your were off papers?</p>
        <md-button ng-click="ineligible(4)" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="eligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 5">
        <p>Is your non-conviction the result of a Deferred Sentencing Agreement?</p>
        <md-button ng-click="getToStep(6)" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="getToStep(7)" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 6">
        <p>Do you also have an ineligible conviction on your record?</p>
        
        <p>Ineligible misdemeanors</p>
        <ul> 
          <li ng-repeat="misdemeanor in ineligibleMisdemeanors">{{misdemeanor.offense}}</li>
        </ul>
        <md-button ng-click="getToStep(8)" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="getToStep()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 7">
        <p>Do you also have an ineligible conviction on your record?</p>
        <md-button ng-click="getToStep(8)" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 8">
        <p>Is the non-conviction for an eligible misdemeanor or an ineligible misdemeanor/felony?</p>
        <md-button ng-click="getToStep(9)" class="md-raised md-primary md-button md-default-theme">ineligible misdemeanor/felony</md-button>        
        <md-button ng-click="getToStep()" class="md-raised md-primary md-button md-default-theme">eligible misdemeanor/felony</md-button>
      </div>

      <div ng-show="step_in_process == 9">
        <p>Was the case terminated before charging by the prosecution (no papered)?</p>
        <md-button ng-click="getToStep(10)" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="getToStep(11)" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 10">
        <p>Has it been 4 years since you were "off papers" for the felony non-conviction?</p>
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="eligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 11">
        <p>Has it been 3 years since you were "off papers" for the felony non-conviction?</p>
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="eligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>
      
      <div ng-show="step_in_process == 12">
        <p>Has it been two years since you were "off papers" for the misdemeanor non-conviction?</p>
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="eligible()" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 13">
        <p>Is the ineligible conviction for a felony or misdemeanor?</p>
        <md-button ng-click="getToStep()" class="md-raised md-primary md-button md-default-theme">misdemeanor</md-button>        
        <md-button ng-click="getToStep()" class="md-raised md-primary md-button md-default-theme">felony</md-button>
      </div>

      <div ng-show="step_in_process == 14">
        <p>Has it been 10 years since you were "off papers" for the felony conviction?</p>
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="getToStep(8)" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>

      <div ng-show="step_in_process == 15">
        <p>Has it been 5 years since you were "off papers" for the misdemeanor conviction?</p>
        <md-button ng-click="ineligible()" class="md-raised md-primary md-button md-default-theme">no</md-button>        
        <md-button ng-click="getToStep(8)" class="md-raised md-primary md-button md-default-theme">yes</md-button>
      </div>
      
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->


<div style="position: fixed; bottom: 0; right: 0;">
  skip to step # <input type="text" ng-model="step_in_process">
</div>