    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingtwo">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                    How do I know if I have a DC Criminal Record?
                                </a>
                            </h5>
                        </div>
                        <div id="collapsetwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtwo">
                            <div class="panel-body">
                                If you have ever been arrested, charged, convicted or had a warrant out in DC for a suspected violation
            of the DC code, you have a DC criminal record. The best way to determine whether you have a DC Criminal
            Record is to obtain a copy of your COMPLETE record from the Metropolitan Police Department and the
            Superior Court of the District of Columbia. 
                            </div>
                        </div>
                    </div>
                </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingthree">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                                    Do I need my full DC criminal record to use this site?
                                </a>
                            </h5>
                        </div>
                        <div id="collapsethree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingthree">
                            <div class="panel-body">
                                YES! You will need a copy of your COMPLETE DC criminal record in order to answer the questions through
            this site. 

            A complete criminal record is made up of your arrest record that you can receive from the Police Department (MPD) AND your court record that you can receive from the DC Superior Court. You must have both records to continue as a judge will deny your request if you do not submit your complete cirminal record.

            Click <a ui-sref="acquire">here</a> for information about how to acquire your
            criminal record. It is also helpful to have a copy of criminal records that you may have in other states.
                            </div>
                        </div>
                    </div>
                </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingfour">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                    Since Washington D.C. does not allow D.C. resident to expunge their criminal record, what does it mean to seal a DC criminal record?
                                </a>
                            </h5>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                            <div class="panel-body">
                                 If a DC criminal record is sealed, the government deletes or limits access to it. A sealed record can
                                generally not be used against you if are applying for a job, in other background checks or in certain
                                legal proceedings. Even after your DC criminal record is sealed, there are certain agencies and employers
                                that CAN still see your record.
                            </div>
                        </div>
                    </div>
                </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingfive">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                    Where can I find a lawyer to assist me with my motion to seal my DC Criminal record?
                                </a>
                            </h5>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                            <div class="panel-body">
                                 Every Monday, the DC Law Students in Court conduct an intake session from 12-7pm for those who need help sealing their record. No appointment is needed. Visit 510 4th Street, NW, Room 113, Building B (Landlord Tenant Court)     You can also contact Lori Silberman at lsilberman@dclawstudents.org or call her at 202.638.4798 ext. 215
                            </div>
                        </div>
                    </div>
                </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingsix">
                            <h5 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                    What do I do if it turns out I am ineligible to seal my criminal record?
                                </a>
                            </h5>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                            <div class="panel-body">
                                 Even though you are not eligible for sealing your criminal record, it is now against the law for an employer to ask you about your criminal record before they have provided you a conditional offer of employment. In 2014, The District of Columbia passed a law that prohibits employers (with 11 or more employees) from having a criminal background questions on a job application form, and ALSO prohibits an employer from asking about criminal convictions, arrests or accusations until after a conditional offer of employment has been made. 

                                 If someone ask you about your criminal history (before giving you a conditional offer) or if there is a question on the job application about your criminal history, you should immediatly file a complaint with the DC Office of Human Rights (OHR) <a href="http://ohr.dc.gov/page/returningcitizens">here</a> Compensation may be available to you if it is found that an employer you applied for a job with asked about your criminal history before making a condition offer of employment OR if they have a question on their employment application that asks if you have every committed a crime or been arrested.

                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/BFBzPX3VncI"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
                            </div>
                        </div>
                    </div>
                </div>
            
          
        