<div class="row">
    <div class="col-lg-12">
        <h1 data-translate>strings.faq.header</h1>

        <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-translate>strings.faq.haveRecordQuestion</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                  <div class="panel-body">
                              <p data-translate>strings.faq.haveRecordAnswer</p>
                  </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" data-translate>strings.faq.needRecordQuestion</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">
                              <p data-translate>strings.faq.needRecordAnswer</p>
                  </div>
                </div>
            </div>
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" data-translate>strings.faq.getRecordQuestion</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseThree">
                  <div class="panel-body">
                              <p data-translate>strings.faq.getRecordAnswer</p>
                  </div>
                </div>
            </div>
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" data-translate>strings.faq.sealMeaningQuestion</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFour">
                  <div class="panel-body">
                              <p data-translate>strings.faq.sealMeaningAnswer</p>
                  </div>
                </div>
            </div>
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" data-translate>strings.faq.findLawyerQuestion</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseFive">
                  <div class="panel-body">
                              <p>
                <span data-translate>strings.faq.findLaywerAnswer1</span><br />
            <span data-translate>strings.faq.findLaywerAnswer2</span> <br />
        <address>510 4th Street, NW, Room 113, Building B (Landlord Tenant Court)     </address>
          <span data-translate>strings.faq.findLaywerAnswer3</span><br />
            <abbr title="Telephone">Tel:</abbr> 202.638.4798 ext. 215
            </p>
                  </div>
                </div>
            </div>
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" data-translate>strings.faq.amIEligibleQuestion</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSix">
                  <div class="panel-body">
                              <p data-translate>strings.faq.amIEligibleAnswer1</p>
                              <p data-translate>strings.faq.amIEligibleAnswer1</p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/BFBzPX3VncI"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
                  </div>
                </div>
            </div>
        </div>





        <h4></h4>
