<div class="row">
    <div class="col-md-12">
      
        <h1>Are you eligible to seal your D.C. adult criminal record?</h1>
        <p>Info on project. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

        <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
        
        <a href="/#/eligibility-check" class="btn btn-default">Check now</a>
      
        <!--
        <p>home partial</p>
        <p>modal info: {{ modal.title }}</p>
      
        <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">
            Click to toggle modal
            <br>
            <small>(using an object)</small>
        </button>
        <div sample-directive></div>
        -->
        
        
    </div><!-- /.col-md-12 -->
</div><!-- /.row -->