<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Welcome to Clean Slate DC</h1>
                <p>
                    This is a resource to assist users in determining IF and WHEN an arrest, charge or conviction
                    on a D.C. criminal record MAY be eligible for sealing, or for fixing errors on your record.
                </p>
                
                <div class="row">
<div class="col-sm-6 col-md-6" style="text-align: center;">
    <div class="thumbnail">
        <img src="img/stock-illustration-39065844-original-idea.jpg" alt="Person thinking" class="img-responsive"/>
      <div class="caption">
        <a class="btn btn-primary btn-lg" href="https://brianecornish.typeform.com/to/GZyRLM" target="_blank">Citizen</a> 
        <p>If you are looking to seal items on your criminal record because you are seeking employment and/or promotion</p>
      </div>
    </div>
  </div>
<div class="col-sm-6 col-md-6" style="text-align: center;">
    <div class="thumbnail">
       <img src="img/stock-illustration-58249152-scales-justice-and-hammer.jpg" alt="Law Firm symbol" class="img-responsive"/>
      <div class="caption" style="text-align: center;">
         <a href="organizations/login.html" class="btn btn-lg btn-primary" role="button">Legal Clinic</a> 
        <p>If you are looking to help seal a client's record</p>
      </div>
    </div>
  </div>
</div>
                
                <div>
                    
                </div>
                <p>
                    More information on the benefits of sealing or correcting your record can be found when you
                    click on the FAQs section.
                </p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Disclaimer
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                This site does not constitute a legal service and is not intended to provide legal
                    advice. If you are unsure about any questions, you should speak with a lawyer (for free!)
                            </div>
                        </div>
                    </div>
                </div>

                <p>
                    By using www.cleanslateDC.com you agree to the privacy policy and terms of use.
                </p>
            </div>
        </div>
    </div>
</div>
