<div class="container">

    <div class="row">
        <h1>Are you eligible to seal your D.C. adult criminal record?</h1>
        
        <p>
            Expunge DC is a tool to help you find out whether you can get your records expunged/sealed. 
            Before starting, try to have the date of your conviction and the crime you were committed of/charged with available. 
            We&rsquo;ll help you figure out the rest.
        </p>
  </div>
    <div class="row">
                <div class="col-sm-4">
                    <p><h3>Step #1</h3></p>
                    <p>Determine if you are eligible to seal your record</p>
                    <md-button href="#/eligibility-check" class="md-raised md-primary md-button md-default-theme">Check Eligibility</md-button>
                </div>
                <div class="col-sm-4">
                    <p><h3>Step #2</h3></p>
                    <p>Check your criminal record</p>
                    <a target="_blank" href="https://www.dccourts.gov/cco/maincase.jsf"><button type="button" class="md-raised md-primary md-button md-default-theme">Check Your Criminal Record</button></a>
                </div>
                <div class="col-sm-4">
                    <p><h3>Step #3</h3></p>
                    <p>Get your paperwork to apply to get your record sealed</p>
                    <a href="step3.html"><button type="button" class="md-raised md-primary md-button md-default-theme">Get Paperwork</button></a>
                </div>
    </div>
    
    <div class="row">   
        <p>
            Expunge DC is not an official website of the DC government or its courts. 
            We cannot process expungements, access court records, offer official legal advice, or file claims on your behalf. 
            We can link you to forms and answer key questions about your eligibility. 
            We can also connect you with services in the area by going to our [[Resource]] page.           
        </p>
        
        
  </div>
</div>
