<div layout="row">

  <div>

        <h1>FAQs</h1>

        <h3>How do I know if I have a DC Criminal Record?</h3>        
        <p>If you have ever been arrested, charged, convicted or had a warrant out in DC for a suspected violation of the DC code, you have a DC criminal record. The best way to determine whether you have a DC Criminal Record is to obtain a copy of your COMPLETE record from the Metropolitan Police Department and the Superior Court of the District of Columbia. </p>
        <h3>Do I need my DC Criminal Record to use this site?</h3>        
        <p>YES! You will need a copy of your COMPLETE DC criminal record in order to answer the questions through this site. Click <a href="#/acquire-your-record">here</a> for information about how to acquire your criminal record.  It is also helpful to have a copy of criminal records that you may have in other jurisdictions. </p>
        <h3>How do I obtain a copy of my DC Criminal Record?</h3>        
        <p>To obtain a copy of your police and court record please go to the Metropolitan Police Department and to the Superior Court of the District of Columbia.  </p>
        <h3>What does it mean to seal a DC Criminal Record? </h3>        
        <p>If a DC criminal record is sealed, the government deletes or limits access to it.  A sealed record can generally not be used against you if are applying for a job, in other background checks or in certain legal proceedings.  Even after your DC criminal record is sealed, there are certain agencies and employers that CAN still see your record. </p>
        <h3>Where can I find a lawyer to assist me with my motion to seal my DC Criminal Record?</h3>        
        <p>For assistance with sealing or expunging your criminal record, please call or visit the Public Defender Service for the District of Columbia (PDS) and ask to speak with the Duty Day lawyer:
Public Defender Service For the District of Columbia
633 Indiana Avenue, NW
Washington, DC 20001
Tel: (202) 628-1200
(800) 341-2582
Walk-in Hours: Monday – Friday, 9:00am – 5:30pm; (excluding Federal and District Holidays)

PDS’s Community Defender Division
680 Rhode Island Avenue NE
Suite H-5
Tel: (202) 824-2801
Walk-in Hours: Monday, Wednesday, and Friday from 9:00 am to 4:00 pm
 </p>

  </div>

</div>
