<div class="container">
    <h1>Steps for Eligibility</h1>
    
    <p>
        In order, to check whether any arrests, convictions or other items are eligible for sealing,
        you must have your entire criminal and/or arrest records. If you have your entire criminal record:
        
     </p>
     <div style="text-align: center">
     <a class="btn btn-primary btn-lg" ui-sref="eligibility({questionId: '0'})">
        I have my record. Let's Get Started
    </a>         
     </div>

   
    
    
    <h3>What if I don't have my record?</h2>
    <p> If you do not have your record, check here to see what steps need to be taken to obtain your record</p>


    <h3>What happens if there are currently no items on my record that can be sealed? </h2>
    <p> Even if none of the items on your record can be sealed, there are some information that you need to know:</p>
    <ul>
        <li>
            Ban the Box
        </li>
        <li>
            Other Resources
            <ul>
                <li>
                    Resource 1
                </li>
                <li>
                    Resource 2                    
                </li>
                <li>
                    Resource 3                    
                </li>
            </ul>
        </li>
    </ul>

</div>