<div class="container">
    <h1>Steps for Eligibility</h1>
    
    <p>
        In order, to check whether any arrests, convictions or other items are eligible for sealing,
        you must have your entire criminal and/or arrest records. If you have your entire criminal record:
        
     </p>
     <div style="text-align: center">
     <a class="btn btn-primary btn-lg" ui-sref="eligibility({questionId: '0'})">
        I have my record. Let's Get Started
    </a>         
     </div>
     <br>
     <br>
     <br>
     <br>
<div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I know if I have a DC Criminal Record?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                  <div class="panel-body">
                              <p>
                If you have ever been arrested, charged, convicted or had a warrant out in DC for a suspected violation
                of the DC code, you have a DC criminal record. The best way to determine whether you have a DC Criminal
                Record is to obtain a copy of your COMPLETE record from the Metropolitan Police Department and the
                Superior Court of the District of Columbia.
            </p>      
                  </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Do I need my DC Criminal Record to use this site?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">
                              <p>
                YES! You will need a copy of your COMPLETE DC criminal record in order to answer the questions through
            this site. 

            A complete criminal record is made up of your arrest record that you can receive from the Police Department (MPD) AND your court record that you can receive from the DC Superior Court. You must have both records to continue as a judge will deny your request if you do not submit your complete cirminal record.

            Click <a ui-sref="acquire">here</a> for information about how to acquire your
            criminal record. It is also helpful to have a copy of criminal records that you may have in other states.
            </p>      
                  </div>
                </div>
            </div>     

<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What do I do if I am not currently eligible for sealing my criminal record?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseSix">
                  <div class="panel-body">
                              <p>Even though you are not eligible for sealing your criminal record, it is now against the law for an employer to ask you about your criminal record before they have provided you a conditional offer of employment. In 2014, The District of Columbia passed a law that prohibits employers (with 11 or more employees) from having a criminal background questions on a job application form, and ALSO prohibits an employer from asking about criminal convictions, arrests or accusations until after a conditional offer of employment has been made.</p> 

            <p>If someone ask you about your criminal history (before giving you a conditional offer) or if there is a question on the job application about your criminal history, you should immediatly file a complaint with the DC Office of Human Rights (OHR) <a href="http://ohr.dc.gov/page/returningcitizens">here</a> Compensation may be available to you if it is found that an employer you applied for a job with asked about your criminal history before making a condition offer of employment OR if they have a question on their employment application that asks if you have every committed a crime or been arrested.</p>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/BFBzPX3VncI"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
                  </div>
                </div>
</div>
