<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Clean Slate Management</title>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body ng-app="sampleApp">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav">
                    <li><a href="#New"> Add New Question </a></li>
                    <li><a href="#List"> Show Questions </a></li>
                    <li><a href="#Questions"> Show List of Questions </a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <div ng-view></div>
            </div>

        </div>

    </div><!-- /.container -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>

</body>
</html>
