<div class="container">
             <h2>Welcome {{currentUser.get('username')}}</h2>
             <p> This is the administration site for Clean Slate DC.  </p>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Reports</h2>
          <p>View reports about Clean Slate usage  </p>
          <p><a class="btn btn-default" href="#/Reports" role="button">View Reports </a></p>
        </div>
        <div class="col-md-4">
          <h2>Organizations</h2>
          <p> Manage community partners  </p>
          <p><a class="btn btn-default" href="#/Partners" role="button">View Partners </a></p>
       </div>
        <div class="col-md-4">
          <h2>Manage Eligibility</h2>
          <p>Add or edit the questions, flows and results for determining eligibility. </p>
          <p><a class="btn btn-default" href="#/Questions" role="button">View Questions </a></p>
        </div>
      </div>
    </div>   
</div>
  