<div class="container">
    <h2>
        View Feedback
    </h2>
    
    <p>
        The following items have been reported by partner organizations.
    </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Feedback Type</th>
                <th>Date Submitted</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Law Clinic 1</td>
                <td>Error</td>
                <td>10/31/2015</td>
                <td>
                    <button class="btn btn-success" ><span class='glyphicon glyphicon-pencil'></span> Edit </button>
                </td>
            </tr>
            
            <tr>
                <td>Law Clinic 2</td>
                <td>Error</td>
                <td>10/31/2015</td>
              <td>
                    <button class="btn btn-success" ><span class='glyphicon glyphicon-pencil'></span> Edit </button>
                </td>   </tr>
            
            <tr>
                <td>Law Clinic 1</td>
                <td>Error</td>
                <td>11/01/2015</td>
             <td>
                    <button class="btn btn-sm btn-success" ><span class='glyphicon glyphicon-pencil'></span> Edit </button>
                </td>
            </tr>
            
            <tr>
                <td>Law Clinic 5</td>
                <td>Error</td>
                <td>11/03/2015</td>
               <td>
                    <button class="btn btn-success" ><span class='glyphicon glyphicon-pencil'></span> Edit </button>
                </td> </tr>
        </tbody>
    </table>
    
</div>