<div ng-show="step_in_process == 2">
    <p>Is this an eligible misdemeanor/felony or an ineligible misdemeanor/felony?</p>

    <h3>Ineligible felony</h3>
    <p>
      "Ineligible felony" means any felony other than a failure to appear 
      (§ 16-1327) [<a href="http://dccode.org/simple/sections/23-1327.html">§ 23‑1327</a>].
    </p>

    <ul class="misdemeanors_group">
      <h3>Ineligible misdemeanor</h3>
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputEmail1">Search misdemeanors: </label>
          <input type="type" class="form-control" ng-model="term">
        </div>
      </form>
      <li ng-repeat="misd in ineligibleMisdemeanors | filter: term" class="misdemeanors">
        {{ misd.offense }} <a href="" ng-click="isCollapsed = !isCollapsed" ng-show="misd.legal_description">+</a><br />
        <span ng-show="isCollapsed">
          <p>{{ misd.legal_description }}</p>
        </span>
      </li>
    </ul>

    <md-button ng-click="getToStep(3)" class="md-raised md-primary md-button md-default-theme">ineligible</md-button>
    <md-button ng-click="eligible()" class="md-raised md-primary md-button md-default-theme">eligible</md-button>        
</div>