<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>   

    <head lang="en">
        <title>Clean Slate Administration</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport"
              content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap-superhero.min.css">
        <link rel="stylesheet" href="../css/app.css">
        <link rel="canonical" href="https://cleanslatedc.com">
        <meta property="og:url" content="https://cleanslatedc.com">

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-65720323-1', 'auto');
            ga('set', 'anonymizeIp', true);
        </script>
        <!-- End Google Analytics -->
    </head>
<body ng-app="sampleApp">
       
  <form ng-hide="currentUser">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">
                        <img src="../img/logo.jpg" alt="logo" width="200">
                    </a>
                </div>
                <div id="navbar-content" class="collapse navbar-collapse">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="../index.html" ui-sref="../home" data-toggle="collapse" data-target="#navbar-content.in">Home</a></li>
                            <li><a href="../index.html#/acquire"  ui-sref="acquire" data-toggle="collapse" data-target="#navbar-content.in">Acquire Your Record/Rap Sheet</a></li>
                            <li><a href="../index.html#/faqs"  ui-sref="faqs" data-toggle="collapse" data-target="#navbar-content.in">FAQs</a></li>
                            <li><a href="../index.html#/definitions"  ui-sref="definitions" data-toggle="collapse" data-target="#navbar-content.in">Definitions</a></li>
                            <li><a href="../index.html#/contact"  ui-sref="contact" data-toggle="collapse" data-target="#navbar-content.in">Contact Us</a></li>
           
                           
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    <div class="container">
    
        <h1>Clean Slate Partners</h1>
       
        <p>
            Clean Slate partners with a number of legal clinics in the DC area. 
            These legal clinics have signed MOUs and are allowed to save profiles 
            for clients, draft motions, and track the status of motions as well.
        </p>  
        <p>
             If you are interested in becoming a Clean Slate partner, please email us!
        </p>
        
        <div class="row">
             <div class="container">
            <h3>Before you finish</h3>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Checklist</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Common Sealing Issues</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                A list of common mistakes in sealing:
                            </p>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Did you inquire as to whether or not a person has an assault charge for harming
                                    someone dating their ex-girlfriend or boyfriend? Assaulting someone dating your ex-girlfriend or boyfriend is a charge,
                                    either a felony or misdemeanor, that is not eligible for sealing under the current law.
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">Did you check with the client as to whether they were required to make a contribution
                                    to the victims fund and successfully made said contribution? If an individual was required to make a contribution & did not do so,
                                    then they cannot be considered "off-papers" at all. To start the clock on "off papers" they must make a contribution to the victim's fund.
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">For a client trying to seal a non-conviction, did you make sure to check if they had any other convictions?
                                    If they have convictions, 5 years or 10 year, for a misdemeanor and felony, respectively) had to have passed for them to be
                                    eligible to seal that non-conviction.
                                </label>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

        
        <div style="max-width: 480px">
        
        <h2 >Sign In</h2>
        <label for="inputEmail" class="sr-only">User Name</label>
        <input type="username" id="inputName" ng-model="user.username" class="form-control" placeholder="Username" required autofocus>
        <br />
        
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="logIn(user)" >Log In</button>

</div>
        </div>
            
            
            <div class="col-sm-6">
           
        <h2 >Introduction Video</h2>
              
        <div style="max-width: 480px" class="embed-responsive embed-responsive-16by9">
            <div >
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/v96QcDXHS-E" frameborder="0" allowfullscreen></iframe>
       
</div>
            
        </div>
            </div>
        
            
        
        </div>
        
        
        
    </div>
        
  </form>      
      
  <div ng-show="currentUser">
           <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">
                        <img src="../img/logo.jpg" alt="logo" width="200">
                    </a>
                </div>
                <div id="navbar-content" class="collapse navbar-collapse">
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#/Home" ui-sref="home" data-toggle="collapse" data-target="#navbar-content.in">Home</a></li>
                            <li><a href="#/Reports"  ui-sref="Reports" data-toggle="collapse" data-target="#navbar-content.in">Reports</a></li>
                            <li><a href="#/Motions"  ui-sref="Motions" data-toggle="collapse" data-target="#navbar-content.in">Motions</a></li>
                            <li><a href="#/Feedback"  ui-sref="Questions" data-toggle="collapse" data-target="#navbar-content.in">Feedback</a></li>
                            <li><a ng-click="logOut()">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

         <div ng-view></div>    
  </div>
        <script src="app.js"></script>
</body>
</html>
